<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Murdock's Website</title>
<link href="../resources/css/index.css" type="text/css" rel="stylesheet">



</head>

<body>

<div class="header">
	<div class="inner_header">
<picture>
	<img src="../Images/Murdock's Logo.png" alt="Logo">
</picture>

<ul class="navigation">
	<a href="Homepage.html"><li>Home</li></a>
	<a href="About.html"><li>About</li></a>
	<a href="Menu.html"><li>Menu</li></a>
	<a href="Location.html"><li>Location</li></a>
	<a href="Events.html"><li>Events</li></a>
</ul>

	</div>
</div>


<picture>
	<source media="(min-width: 480px)" srcset="../Images/about_banner.png 1920w", sizes="100vw">
	<img src="../Images/about_banner.png" alt="About Banner">
</picture>


<p><b>
<img src="../Images/shirt.jpg" alt="Shirt"
	width="400"
	height="400"
/>
</b></p>


<h1>About Us</h1>

<p> In the year 2014, the Murdock's bar and grill opened. Murdock's is located in Loda, IL <br>
where it is greatly appreciated by the community. Murdock's is a great place to unwind, have<br>
a couple drinks, and order some tasty food. With all the love and support, we have recently <br>
decided to add an additional location to further our growth, this new location being in Knoxville, TN.
</p>

<h1>Contact Us</h1>

<p> You can either contact us at 217-386-9505, Murdocks@business.com, or write a short message below.

<form>
<ul>
  <li><label for="form-name">Name:</label> <input type="text" name="customername" id="form-name"></li>
  <li><label for="form-tel">Telephone Number:</label> <input type="tel" name="telephone" id="form-tel"></li>
  <li><label for="form-email">Email: <input type="email" name="email" id="form-email"></label></li>
  <li>Message:<br>
  <textarea name="instructions" rows="4" cols="60" maxlength="400" id="form-story" placeholder="No more than 400 characters long"></textarea></li>
</ul>

<p><input type="submit" value="Sumbit!">

</form>

</body>


</html>