<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Murdock's Website</title>
<link href="../resources/css/index.css" type="text/css" rel="stylesheet">


</head>

<body>

<div class="header">
	<div class="inner_header">
<picture>
	<img src="../Images/Murdock's Logo.png" alt="Logo">
</picture>

<ul class="navigation">
	<a href="Homepage.html"><li>Home</li></a>
	<a href="About.html"><li>About</li></a>
	<a href="Menu.html"><li>Menu</li></a>
	<a href="Location.html"><li>Location</li></a>
	<a href="Events.html"><li>Events</li></a>
</ul>

	</div>
</div>


<picture>
	<source media="(min-width: 480px)" srcset="../Images/events_banner.png 1920w", ../Images/home_banner.png 50w" sizes="100vw">
	<img src="../Images/events_banner.png" alt="Events Banner">
</picture>

<h1>Upcoming Events</h1>


<p>	
	<li>Fish Fry........................4/8</li>
	<li>Humble Hog Dinner.....4/13</li>
	<li>Live Music...................4/15</li>
	<li>Swine 'N Dine..............5/18</li>	
</p>

<p><b>
<img src="../Images/swine_n_dine.png" alt="Swine N Dine"
	width="350"
	height="350"
/>
</b></p>

<c>
<img src="../Images/fishfry.jpeg" alt="fish fry"
width="450"
height="300"
>
</c>
<d>
<img src="../Images/hogdinner.jpg" alt="Humble Hog Dinner"
width="450"
height="300"
>
</d>
<h1>Future Events</h1>

<p>
	<li>Swine 'N Dine..............5/18</li>
	<li>Fish Fry........................5/27</li>
	<li>Charity Night................6/3</li>
	<li>Live Music....................6/10</li>
	<li>Karaoke Night..............6/17</li>
	<li>4th of July Fireworks....7/4</li>

</p>

</body>


</html>