<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Murdock's Website</title>
<link href="./resources/css/index.css" type="text/css" rel="stylesheet">


</head>

<body>

<header>
<div class="header">
	<div class="inner_header">
<picture>
	<source media="(min-width: 480px)" srcset="images/Murdock's Logo 500w", sizes="100vw">
	<img src="images/Murdock's Logo.png" alt="Logo">
</picture>

<ul class="navigation">
	<a href="Homepage.html"><li>Home</li></a>
	<a href="About.html"><li>About</li></a>
	<a href="Menu.html"><li>Menu</li></a>
	<a href="Location.html"><li>Location</li></a>
	<a href="Events.html"><li>Events</li></a>
</ul>

	</div>
</div>


<picture>
	<source media="(min-width: 480px)" srcset="images/location_banner.png 1920w", sizes="100vw">
	<img src="images/location_banner.png" alt="Location Banner" style="width:100%;">
</picture>
</header>


<main>
<h1 style="font-size:2vw">Location</h1>


<p style="font-size:1.5vw">	
Address: 716 S Oak Street Loda, IL 60948	
</p>

<b>
<img src="images/Location.jpg" alt="Loda Location" style="max-width:100%;height:auto">
</b>
</main>

</body>


</html>