<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Murdock's Website</title>
<link href="../resources/css/index.css" type="text/css" rel="stylesheet">

</head>

<body>

<div class="header">
	<div class="inner_header">
<picture>
	<img src="../Images/Murdock's Logo.png" alt="Logo">
</picture>

<ul class="navigation">
	<a href="Homepage.html"><li>Home</li></a>
	<a href="About.html"><li>About</li></a>
	<a href="Menu.html"><li>Menu</li></a>
	<a href="Location.html"><li>Location</li></a>
	<a href="Events.html"><li>Events</li></a>
</ul>

	</div>
</div>


<picture>
	<source media="(min-width: 480px)" srcset="../Images/menu_banner.png 1920w", sizes="100vw">
	<img src="../Images/menu_banner.png" alt="Menu Banner">
</picture>

<div class="food-one">
<img src="../Images/food4.jpg" alt="catfish"
	width="450"
	height="100%"
	/>
</div>

<h1>Menu</h1>


</div>

<div class="food-two">
<img src="../Images/food5.jpg" alt="chicken"
	width="500"
	height="100%"
	/>
</div>

<p>	
	<li>Hamburger................................................<span class="price">$4.50</span></li>
	<li>Cheesburger.............................................<span class="price">$4.75</span></li>
	<li>Double Hamburger...................................<span class="price">$6.75</span></li>
	<li>Double Cheeseburger..............................<span class="price">$7.25</span></li>
	<li>Bacon Cheeseburger...............................<span class="price">$6.25</span></li>
	<li>BLT...........................................................<span class="price">$4.25</span></li>
	<li>Grilled Cheese.........................................<span class="price">$6.99</span></li>
	<li>Pork Burger..............................................<span class="price">$9.99</span></li>
	<li>Wings.......................................................<span class="price">$9.99</span></li>
	<li>BBQ Pulled Pork Sandwich.....................<span class="price">$9.99</span></li>
	<li>BBQ Poutine............................................<span class="price">$9.99</span></li>
	<li>Cod..........................................................<span class="price">$13.99</span></li>
	<li>Catfish.....................................................<span class="price">$13.99</span></li>	
	<li>Fried Shrimp............................................<span class="price">$4.50</span></li>
	<li>Ham Steak...............................................<span class="price">$10.99</span></li>
	<li>T-Bone Steak...........................................<span class="price">$19.99</span></li>
	<li>Prime Rib.................................................<span class="price">$21.99</span></li>
	<li>Ribeye Sandwich.....................................<span class="price">$11.99</span></li>
	<li>Fried Chicken...........................................<span class="price">$9.99</span></li>
	<li>Salad Bar..................................................<span class="price">$5.00</span></li>
</p>


<h2>Sides: <span class="price">$2.25</span></h2>
<li>Fries</li><li>Applesauce</li><li>Cole Slaw</li><li>Cottage Cheese</li>


<h2>Appetizers: <span class="price">$6.00</span></h2>
<li>Mac-N-Cheese Bites</li><li>Corn Nuggets</li><li>Homemade Chips</li>
<li>Mini Corn Dogs</li><li>Mozzarella Sticks</li><li>Jalapeno Pretzels</li>
<li>Fried Mushrooms</li><li>Mini Tacos</li><li>Fried Green Beans</li>


</body>


</html>